<article class="card">
  {{#if feature_image}}
    <div class="card-image">
      <figure class="post-full-image">
        <img class="card-img-top"src="{{feature_image}}" alt="{{title}}">
      </figure>
    </div>
  {{/if}}

  <div class="card-content">
    {{#if author.profile_image}}
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src="{{author.profile_image}}" alt="Profile Image">
          </figure>
        </div>
      </div>
    {{/if}}
    <a class="title is-4" href="{{url}}">{{title}}</a>
    <div class="content">
      <p>
        {{#if meta_description}}
          {{meta_description}}
        {{else}}
          {{excerpt words="25"}}...
        {{/if}}
      </p>
      <p>
        {{author}} {{tags}} on
        <time>{{date}}</time>
      </p>
    </div>
  </div>
</article>
